
.text_tugui{
  background-color: #4907A5 !important;
  border-radius: 10px !important;
}

.btn-tugui:hover {
  color: #FFFFFF;
  background-color: #4907A5;
  border-color: #4907A5;
}

.btn-tugui {
  color: #03F4CA;
  border-color: #03F4CA;
}

.titulo_espacio_tugui {
  text-align: left;
  height: 110px;
}


.titulo_espacio_tugui_white  {
  text-align: left;
  height: 110px;
  color: #FFFFFF;
}

.titulo_espacio_tugui h1 {
  border-bottom: 8px solid #4907A5;
  width: fit-content;
}

.titulo_espacio_tugui_white h1 {
  border-bottom: 8px solid #03F4CA;
  width: fit-content;
}

.miembros_image img{
  border-radius: 50%;
}

#footer{
  background: #000000;
  
}

#footer a{
  color: white; 
}

#footer small{
  color: white; 
}

#footer h5{
  color: white; 
}



.header-navbar{
  background-color: #000000;

}

.bg-dark :first-child {
  background-color: #000000!important;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:10px;
}

.navbar-nav > li{
  margin-left:20px;
  margin-right:10px;
}

#main .carousel-inner img {
  max-height: 100vh;
  object-fit: cover;
  -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
  filter: brightness(50%);
}

#carousel{
  position: relative ;
}

.overlay{
  position: absolute ;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  
}

.peru {
  color: #000000;
}

.carousel-content {
  position: absolute;
  bottom: 30%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  width: 100% !important;
  align-items: center;
}

.titulo_tugui{
  max-width: 40%;
  -webkit-filter: brightness(100%) !important; /* Safari 6.0 - 9.0 */
  filter: brightness(100%) !important;
}

.descripcion {
  text-align: center;
}

.descripcion-tugui{
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 70px;
  line-height: 55px;
}


.recorrido_botton{
  text-align: center;
  margin: auto;
  display: block;
}

.imagentugui{
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#place-time{
  background-color: #000000;
}

section#place-time {
  background-color: black;
  color: white;
}

.nosotrosImagenTugui{
  max-width: 100%;
}


.album-integrantes {
  background-color: #000000;
  text-align: center;
}

.rounded-circle{
  border-radius: 50%!important;
}

.estilo_descrip_miembros{
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 70px;
  line-height: 55px;
  color: #FFFFFF;
}

.album-integrantes p{
  color: #bfbfbf;
}

.featurette-divider{
  margin: 5rem 0;
}

hr{
  border-top: 1px solid rgba(0,0,0,0) !important;
}

.featurette-divider {
  margin: 4rem 0 !important;
}
.featurette-heading {
  font-size: 50px;
  margin-top: 7rem;
  line-height: 1;
    letter-spacing: -.05rem;

}

.container_exp {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto !important;
    margin-left: auto !important;
}